.footer {
  display: flex;
  justify-content: space-between;
  margin:2.5vh 2.5vw;
  padding: 0 2.5vw;
  height: 20vh;
  max-height: 200px;

  &__text {
    width: 60%;
    order: 1;
  
  }
  &__tertiary {
    font-size: var(--font-medium);
    margin-bottom: var(--margin-medium);
    font-weight: 700;
  }

  &__description {
    width: 100%;
    line-height: 3.5rem;
    @include description-text(false);
    @include respond(tablet) {
      font-size: var(--font-small);
      width: 80%;
    }

  }

  &__nav {
    width: 10%;
    text-align: center;
    margin-left: auto;
    order: 3;

    &-text {
      font-size: 2rem;
      color: var(--color-grey);
      transition: all 0.3s;

      & > p{
       margin-bottom: var(--margin-medium); 
      }

      &:hover {
        cursor: pointer;
        color: var(--color-white);
      }
    }
  }

  &__socials {
    order: 2;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include respond(mobile){
      margin-bottom: 2vh;
    }

    &-copywrite {
      font-size: var(--font-small);
    }
    & > a {
      height: 4rem;
      color: transparent;
      width: 4rem;
      margin-left: var(--margin-medium);

      &:hover {
        cursor: pointer;
      }
      &:nth-child(3) {
        background: url("../images/linkedin.svg");
        background-size: cover;
      }

      &:nth-child(2) {
        background: url("../images/github.svg");
        background-size: cover;
      }
    }
  }
}
